@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Monoton');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


@function color($key: "calm") {
  @return map-get($colors, $key);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background: linear-gradient(to bottom, color("tranquil"), color("ice"));
  color: color("base");
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:
    'Source Sans Pro',
    sans-serif;
  min-height: 100vh;
}

.tile {
  background-color: color("ice");
  border-radius: .1rem;
  box-shadow: 0 .75rem 1.5rem rgba(0,0,0,0.2), 0 .25rem .25rem rgba(0,0,0,0.2);
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 24rem;
  overflow: hidden;
  
  .tile-header {
    background-image: url('https://res.cloudinary.com/dgmilxzy7/image/upload/c_scale,w_500,o_75,b_rgb:07beb8/v1506735375/CodePen/ViddenPixel.jpg');
    background-position: center;
    background-size: cover;
    height: 12rem;
  }
  
  .tile-body {
    padding: 2rem;
  }
}


@mixin btn-variant($background-color) {
  background-color: $background-color;
  color: white;
  
}

.submit-container {
  position: relative;
  
  .login-pending {
    height: 3rem;
    width: 3rem;
    background-color: color('irenic');
    position: absolute;
    border-radius: 50%;
    right: 1rem;
    bottom: -0.5rem;
    opacity: 0;
    overflow: hidden;
    transform: translate(0, 0) scale(0.5, 0.5);
    transition: transform .2s ease-in, scale .2s ease-in;
    z-index: 1;
    
    }
  }

  span a{
    text-decoration: none;
  }





